- @players.each do |player|
  %h1= player.name
  %table
    %tr
      %th name
      %th cs_type
    - player.items.not_trash.each do |item|
      !=render :partial =>"items", :locals => {:player => player, :item => item}

