.container-fluid
  .row-fluid
    .span12#error
  .row-fluid
    .span2
      #left-menu
    .span10
      .content
        %ul#player-tabs.nav.nav-tabs
        #player-content.tab-content
#dialog.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss"=>"modal"} ×
    %h3#dialog-title Select Item
  .modal-body
    %p Loading Items...

:javascript
  $(function() {Page.init(#{current_player.id})})