.loadouts {
  float: right;
  margin-right: 100px;
}

.item {
  border-radius: 5px;
  border: 1px solid #aaa;
  padding-left: 5px;
  margin-bottom: 2px;
}

.over {
  color: #F88;
}

.modal-body ul.items {
  list-style-type: none;
  li {
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 2px;
    padding-left: 5px;
  }
}
.mount-point {
  h4 {
    display: inline-block;
  }

  margin-bottom:10px;
}

a.button {
	padding-left:2px;
	padding-right:2px;
	border: 1px solid #ddd;
}

a.button:hover {
	background-color: #aaa;
}

.encumbrance {
  table, th, td {
    border: 1px solid black;
  }
  tr.current {
    background-color: #FF8888;
  }
}

table {
  width: 80%;

  td, th {
    border: 1px solid black;
    text-align: center;
  }
}