.item {
  border-radius: 5px;
  border: 1px solid #aaa;
  padding-left: 5px;
  margin-bottom: 2px;
}

.modal-body ul.items {
  list-style-type: none;
  li {
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 2px;
    padding-left: 5px;
  }
}
