.bag, .inventory {
  color: #555;
  margin-left: 10pt;
  padding: 5px;
  background-color: #EEE;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.icons {
  float:right;
  .capacity, .used-capacity {
    display:inline;
  }
}


.slot {
  padding: 5px;
  color: #FFF;
  font-weight: bold;

  background-repeat: repeat-x;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.item {
  margin-left: 10px;
  padding: 5px;

  background-color: #B4D455;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, whiteSmoke 0%, #EE4 100%);
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .item-space, .item-weight {
    display:inline;
  }
}

.item-picker {
  margin-left: 10px;
  padding: 5px;

  background-color: #B4D455;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, whiteSmoke 0%, #EE4 100%);
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}